.profile-photo {
    width: 100px;
    position: absolute;
    bottom: 30px;
    right: 30px;
} 

#location {
    position: absolute;
    bottom: 30px;
    left: 300px;
    background: rgba(0, 0, 0, 0.5);
    padding: 25;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    width: 260px;
}

.destinations {
    margin-top: 20px;
}